<div class="container chat-page">
  <h1>Chat</h1>
  <div id="chat">
    <%= render @messages %>
  </div>
  
  <%= form_for [@conversation, @message], html: {class: "reply-form"}, remote: true do |f| %>
  <div class="field">
    <%= f.text_area :message_body, class: "form-control" %>
  </div>
  <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
  <div>
   <%= f.submit "Add Reply", class: "btn btn-sm btn-z1" %>
 </div>
 <% end %>
</div>

<%= subscribe_to "/messages/#{@conversation.id}/#{@conversation.sender_id}/#{@conversation.receiver_id}" %>