<head>
	<script>
		$(document).ready(function() {

			$("#datetimepicker").datepicker({
				minDate : 1,
				maxDate : 7
			});
			/*$('#datetimepicker').datetimepicker({
			minDate : '+1970/01/02',
			allowTimes : ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00']

			});*/

			// Google analytics

			$("#datetimepicker").click(function() {

				//Send to Google Analytics
				ga('send', {
					hitType : 'event',
					eventCategory : 'Date',
					eventAction : 'click',
					eventLabel : "Selecting Call Date"
				});
			});

			$("#input-phone").click(function() {

				//Send to Google Analytics
				ga('send', {
					hitType : 'event',
					eventCategory : 'Phone',
					eventAction : 'click',
					eventLabel : "Entering Phone Number"
				});
			});

			$("#promo_code").click(function() {

				//Send to Google Analytics
				ga('send', {
					hitType : 'event',
					eventCategory : 'Input',
					eventAction : 'click',
					eventLabel : "Entering Promo Code"
				});
			});

			$('#submission').click(function() {

				//Send to Google Analytics
				ga('send', {
					hitType : 'event',
					eventCategory : 'Button',
					eventAction : 'click',
					eventLabel : "Final Submission"
				});

				//Validating data since we are submitting via ajax
				//date = $("#datetimepicker").val();
				phone = $("#input-phone").val();

				// Get today's date
				var d = new Date();

				var month = d.getMonth() + 1;
				var day = d.getDate();

				var output = (month < 10 ? '0' : '') + month + '/' + (day < 10 ? '0' : '') + day + '/' + d.getFullYear();

				date = output;

				if (date != '' && phone != '') {

					//Disable Submit Button to avoid duplicate orders
					$('#submission').prop('disabled', true);

					$.ajax({
						url : '/orders',
						method : "POST",
						data : {
							calldate : date,
							address : $("#input-address").val(),
							phone : phone,
							pincode : $("#input-pincode").val(),
							promo_code : $("#promo_code").val()
						},
						success : function(data) {
							$('#details-confirmation-form').toggle();
							$('#confirm-submission').toggle();
							order_code = $.parseJSON(data);
							$('#result_code').html("<a href='/orders/" + order_code.order_code + "'> Order #" + order_code.order_code + "</a>");
						},
						error : function(XMLHttpRequest, textStatus, errorThrown) {
							console.log("Internal Server Error : " + textStatus);
						}
					});
				}
			});
		});
	</script>

	<style>
		.input-ic {
			height: 55px;
			border: 1px solid rgba(220, 0, 96, 0.2);
			font-size: 12px;
			font-weight: bold;
			margin: auto;
			line-height: 25px;
			font-family: monospace;
			padding-left: 5px;
		}

		legend {
			border-bottom: 0;
		}
		.billing-explanation, .billing-explanation a  {
			color: #dc0060;
			font-size : 20px;
		}
		
		.thanks {
			margin-top : 25px;
			color: #dc0060;
			font-size : 20px;
			text-align: center;
		}
	</style>
</head>

<div style="padding-top:120px;" class="container" id="details-confirmation-form">

	<br />
	<br />
	<div class="billing-explanation row">
		<div class="col-md-3 col-sm-3 col-xs-12 value" style="text-align: center;">
			Based on your style-log, our stylist will ship you 4-5 clothing items
		</div>
		<div class="col-md-3 col-sm-3 col-xs-12 value" style="text-align: center;">
			You will have 3 full days after delivery to decide what to keep
		</div>
		<div class="col-md-3 col-sm-3 col-xs-12 value" style="text-align: center;">
			You can easily schedule a return by going to <u><%= link_to 'My Orders', '/orders' %></u>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-12 value" style="text-align: center;">
			Pay only for what you keep
		</div>

	</div>
	<div class="divider tiny"></div>
	<br />
	<br />
	<br />
	<form class="confirmation-details">
		<div class="row">
			<h6 style="text-align: center; color: #dc0060"> *Please confirm the following details</h6>
			<br />

			<div class="col-md-6 col-sm-5 col-xs-12 value" style="text-align: center;">
				<legend>
					Phone Number
				</legend>

				<input autofocus="autofocus" class="input-ic form-control" id="input-phone" value="<%= @userprofile['phonenumber'] if defined?(@userprofile) %>" placeholder="" type="text" required />
				<br />
				<br />
				<legend>Address</legend>
				<textarea class="input-address form-control" rows="5" id="input-address" required ><%= @userprofile['address'] if defined?(@userprofile) %></textarea>
				<br />
				<br />
			</div>

			<!--<div class="col-md-6 col-sm-6 col-xs-12 value" style="text-align: center;">
			<legend>
			When would you like to schedule a call with your stylist?
			</legend>
			<input class="input-ic form-control" id= "datetimepicker" placeholder="Date" type="text" required />
			<br />
			<legend>
			Date of Delivery :
			</legend>
			<input class="input-ic form-control" id= "scheduleddeliverydate" placeholder="" type="text" required />

			</div>-->
			<div class="col-md-6 col-sm-6 col-xs-12 value" style="text-align: center;">
				<legend>
					Promo Code
				</legend>
				<input class="input-ic form-control" id= "promo_code" placeholder="Enter your promo code here" type="text" required />
				<br />
				<br />
				<legend>Pincode</legend>
				<input class="input-ic form-control" id="input-pincode" value="<%= @userprofile['pincode'] if defined?(@userprofile) %>" placeholder="" type="text" onkeypress="pincode()" maxlength="6" required />
				<br />
				<br />
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 value" style="text-align: center;">
				<button style = "" class = "btn btn-z btn-z1 transform-up" type="submit" id="submission">
					Confirm Details
				</button>
			</div>
		</div>
	</form>
</div>

<div style="padding-top:120px" class="container" id='confirm-submission' hidden>
	<div style="text-align: left; padding-left: 5%;">
		<p class="thanks">
			Thank you. You will receive your shipment of clothes in 1-5 working days. 
			<br /><br />You can take 3 days to decide what to keep, and schedule a return here : <u><strong id="result_code"></strong></u>
		</p>
		<br />
		<p style="font-size:15px;margin:0;padding:0;color:black;text-align: center">
			
<!--			<br /><br />
			Based on your profile, our expert stylist will hand pick clothes based on your specific preferences. 
			<br />You will receive the items within 1-5 working days. 
			<br />You can take 3 days to decide what you’ll purchase and what you’d like to send back.
			<br />You’re only charged for items you choose to keep when you check out. 
			<br /><br />
			Your Request Code is : -->
			<img alt="" height="240" src="https://s20.postimg.org/4un744jn1/email_box_image.png" style="margin:auto;border:0px;display:block" height="0" class="CToWUd">
			<br />
			<u><%= link_to 'View Style Log', "/style-log" %></u>
			
			<u><%= link_to 'View Previous Orders', "/orders" %></u>
		</p>
	</div>
</div>

