<script>
	$(document).ready(function() {
		$('#current-style-submission').click(function() {
			window.location.href = '/confirmation';
		});

		$("#style_log_size_and_fit").click(function() {
			ga('send', {
				hitType : 'event',
				eventCategory : 'Button',
				eventAction : 'click',
				eventLabel : 'Size and Fit'
			});
		});

		$("#style_log_choices").click(function() {
			ga('send', {
				hitType : 'event',
				eventCategory : 'Button',
				eventAction : 'click',
				eventLabel : 'My Choices'
			});
		});

		$("#style_log_style").click(function() {
			ga('send', {
				hitType : 'event',
				eventCategory : 'Button',
				eventAction : 'click',
				eventLabel : 'My Style'
			});
		});

		$("#style_log_final_thoughts").click(function() {
			ga('send', {
				hitType : 'event',
				eventCategory : 'Button',
				eventAction : 'click',
				eventLabel : 'Final Thoughts'
			});
		});

		$("input").click(function() {
			// Sends the name of any input field that is clicked.
			if ($(this).attr('type') == 'checkbox') {
				ga('send', {
					hitType : 'event',
					eventCategory : 'Checkbox',
					eventAction : 'click',
					eventLabel : $(this).attr('name') + $(this).attr('value')
				});
			} else if ($(this).attr('type') == 'radio') {
				ga('send', {
					hitType : 'event',
					eventCategory : 'Radio',
					eventAction : 'click',
					eventLabel : $(this).attr('name') + $(this).attr('value')
				});
			} else {
				ga('send', {
					hitType : 'event',
					eventCategory : 'Input',
					eventAction : 'click',
					eventLabel : $(this).attr('name')
				});

			}
		});

		$("select").change(function() {
			// Sends the name of any input field that is focused on.
			ga('send', {
				hitType : 'event',
				eventCategory : 'Select',
				eventAction : 'click',
				eventLabel : $(this).attr('name') + " : " + $(this).find('option:selected').text()
			});
		});
	}); 
</script>

<div style="padding-top:120px" class="container">
	<div style="padding-left: 5%; color: red;">
		<%= flash[:notice] %>
	</div>
	<!--<h2 style="text-align: left; padding-left: 5%; color: #dc0060">Hi <%= @name %>, Welcome to Zuplr's style log!</h2>-->
	<br />
	<br />
	<div class="w3-center">
		<button id="style_log_size_and_fit" class="w3-btn demo" onclick="currentDiv(1)">
			My Size and fit
		</button>
		>
		<button id="style_log_choices" class="w3-btn demo" onclick="currentDiv(2)">
			My Choices
		</button>
		>
		<button id="style_log_style" class="w3-btn demo" onclick="currentDiv(3)">
			My Style
		</button>
		>
		<button id="style_log_final_thoughts" class="w3-btn demo" onclick="currentDiv(4)">
			Final Thoughts
		</button>
	</div>
	<br />
	<br />
	<br />
	<div id = "submission-form">
		<form id="style-log" class="style-log" action="/users/save-data" method="POST">
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

			<div class="mySlides">
				<%= render 'style_log_section_a' %>
			</div>
			<div class="mySlides">
				<%= render 'style_log_section_b' %>
			</div>
			<div class="mySlides">
				<%= render 'style_log_section_c' %>
			</div>
			<div class="mySlides">
				<%= render 'style_log_section_d' %>
			</div>
		</form>
		<div class="w3-center">
			<div class="w3-section">
				<button id="next" class="btn btn-z btn-z1 transform-up" onclick="plusDivs(1)">
					Next ❯
				</button>
			</div>
		</div>

	</div>
</div>

<script type="text/javascript">
	// Yet another hack for bootstrap text area
	$(document).ready(function() {
		console.log($('#zr-textarea').val())
		if ($('#zr-textarea').val().trim() == '') {
			//$('#zr-textarea').focus().val('t');
			$('#zr-textarea').val('');
			$('#zr-textarea').blur();
		}

		$("#next").click(function() {
			//Save the current data of the style log everytime next button is clicked
			var data = $('#style-log').serialize();
			$.post('/users/save-data', data);

			//Send to Google Analytics
			ga('send', {
				hitType : 'event',
				eventCategory : 'Button',
				eventAction : 'click',
				eventLabel : getCurrentSlideToNextSlideTransition()
			});
		});
	})
</script>

<style>
	.mySlides {
		display: none
	}
	.radio_styles {
		position: inherit !important;
		margin-left: 0px !important;
	}

	.w3-btn {
		margin-top: 5px;
	}
</style>

<script>
	var slideIndex = 1;
	showDivs(slideIndex);

	function plusDivs(n) {
		showDivs(slideIndex += n);
	}

	function currentDiv(n) {
		showDivs( slideIndex = n);
	}

	function showDivs(n) {

		if (n == 4) {
			$("#next").hide();
		}

		if (n < 4) {
			$("#next").show();
		}
		var i;
		var x = document.getElementsByClassName("mySlides");
		var dots = document.getElementsByClassName("demo");
		if (n > x.length) {
			slideIndex = 1
		}
		if (n < 1) {
			slideIndex = x.length
		}
		for ( i = 0; i < x.length; i++) {
			x[i].style.display = "none";
		}
		for ( i = 0; i < dots.length; i++) {
			dots[i].className = dots[i].className.replace(" w3-red", "");
		}
		x[slideIndex - 1].style.display = "block";
		dots[slideIndex - 1].className += " w3-red";

		window.scrollTo(0, 0);
	}

	function getCurrentSlideToNextSlideTransition() {
		//This function returns a string that tells that when the 'next' button is clicked, user goes from which form section to which
		switch(slideIndex) {
			//Cases are like this because slideIndex is updated first and then this function is called
			case 4: return "Next : My Style to Final Thoughts"
					break;
			case 2: return "Next : My Size and Fit to My Choices"
					break;
			case 3: return "Next : My Choices to My Style"
					break;
			
			
		}
	}
</script>

