<style>
	table, th, td {
		border: 1px solid black;
	}

	th, td {
		padding: 10px;
	}
</style>

<script>
	$(function() {
		//$(".newcomment").on("click", function(event) {

		//});

		$("#current_date").datepicker();

		$(".next_call_datepicker").datepicker({
			minDate : 0
		});
	});

	function assignStylist(order_id) {
		stylist_id = $("#assigned_stylist" + order_id).val();

		event.preventDefault();
		$.ajax({
			type : "POST",
			url : "/admin/assign_stylist",
			data : {
				order_id : order_id,
				stylist_id : stylist_id
			},
			success : function(result) {
				location.reload();
			},
		});

	}

	//Rest is at admin_orders.js

</script>

<div style="padding-top:120px; margin-left: 50px; margin-right: 50px;" class="">
	<h2>All Orders</h2>
	<br />
	<br />

	<h3>Filter By : </h3>
	<form action="/admin/getallorders" method="get">
		<table class="table">
			<thead>
				<tr>
					<th>Email</th>
					<th>Phone</th>
					<!--<th>Created On</th>
					<th>Updated On</th>-->
					<th>Order Status</th>
					<th>Call Date</th>
					<% if current_user.role.name == 'Admin' %>
					<th>Stylist Name</th>
					<% end %>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
					<input type="text" name="email" value=<%= params[:email] || 'All' %>>
					</input> </td>
					<td>
					<input type="text" name="phone" value=<%= params[:phone] || 'All' %>>
					</input> </td>
					<!--<td><input class="datepicker" name="created_on" value=<%= params[:created_at] || 'All' %>></td>
					<td><input class="datepicker" name="updated_on" value=<%= params[:updated_at] || 'All' %>></td>-->
					<td> <%= select_tag(:status, options_for_select(['All','REQUESTED','REQUIREMENTS CONFIRMED', 'CANCELLED-CUSTOMER NOT INTERESTED','CANCELLED-CUSTOMER BELOW PRICE RANGE','CLOTHES CONFIRMED','CANCELLED-CUSTOMER UNRESPONSIVE','UNABLE TO FULFILL ORDER','CANCELLED-CUSTOMER CHANGED THEIR MIND','BOX READY','DISPATCHED','DELIVERED','PICKUP COMPLETED','COMPLETED', 'CANCELLED'], params[:status])) %> </td>
					<td>
					<input id="current_date" name="call_date" value=<%= params[:call_date] || 'All' %>>
					</td>
					<% if current_user.role.name == 'Admin' %>
					<td><%= select_tag "stylist", options_for_select(@stylists.collect { |s| [s.name, s.id]}, params[:stylist]), include_blank: true, :onchange => "" %> </td>
					<% end %>
				</tr>
				<tr>
					<td>
					<button type="submit" class="btn btn-danger">
						Submit
					</button></td>
				</tr>
			</tbody>
		</table>
	</form>
	<br />
	<br />
	<h5 style="color: red;">Number of records : <%= @orders.count %></h5>
	<br />
	<br />
	<table border="3">
		<thead>
			<tr>
				<th>User</th>
				<th width="300">User Status</th>
				<th width="125">Order Status </th>
				<th>Contact Details</th>
				<th width="300">Stylist Comments</th>
			</tr>
		</thead>

		<tbody>
			<% @orders.each do |order| %>
			<tr>
				<td><b>Name :</b> <%= order.name %>
				<br />
				<br />
				<b>Email :</b> <%= order.email %>
				<br />
				<br />
				<b>Phone :</b> <%= order.phonenumber %>
				<br />
				<br />
				<b>Address :</b> <%= order.address %>
				<br />
				<b>Pincode :</b> <%= order.pincode %>
				<br />
				<br />
				<button type="button" id="getStyleData" onclick="getStyleData(<%= order.userprofile_id %>, '<%= order.name %>')" class="btn btn-info btn-lg" data-toggle="modal" data-target="#styleLogPopup">
					Profile
				</button>
				<br />
				<br />
				<%= link_to "User Profile", "/admin/userprofile/"+(order.userprofile_id).to_s %> </td>
				<td>
					<b>Order Created On : </b><%= order.created_at %><br /><br />
					<b>Order data last updated On : </b><%= order.updated_at %><br /><br />
					
					<b>Phone Status :</b>
				<br />
				<%= select_tag(:phone_number_status, options_for_select(['Unverified','Wrong Number','Verified','Not Picking Up'], order.phone_number_status), :onchange => "update_phone_status(" + order.userprofile_id.to_s + " ,this.value)") %>
				<br />
				<br />
				<b>Gender :</b>
				<br />
				<%= select_tag(:gender, options_for_select(['NA','Female','Male'], order.gender), :onchange => "update_gender(" + order.userprofile_id.to_s + " ,this.value)") %>
				<br />
				<br />
				<b>Latest Status :</b>
				<br />
				<%= select_tag(:latest_status, options_for_select(['Yet To Contact','Call and Reject','Unserviceable User','Will Fill the Form after Call','Need Styling - NOT Delivery','Below Our Price Range', 'Just Checking Out', 'Wants a Very Specific Dress', 'Serviceable User'], order.latest_status), :onchange => "update_latest_status(" + order.userprofile_id.to_s + " ,this.value)") %>
				<td><b>Order Code : </b> <%= order.order_code %>
				<br />
				<br />
				<b>Promo Code :</b> <%= if order.promo_code == nil || order.promo_code == '' then 'NA' else order.promo_code end %>
				<br />
				<br />
				<br />
				<div id = "status<%= order.id %>">
					<%= order.status%>
				</div>
				<br />
				<% if order.status == 'REQUESTED' %>
				<input class="btn btn-primary" type="button" value="Requirements are Confirmed" onclick="update_order_status(<%= order.id %>, 'REQUIREMENTS CONFIRMED')" />
				<br />
				<input class="btn btn-danger" type="button" value="Customer Unresponsive" onclick="update_order_status(<%= order.id %>, 'CANCELLED-CUSTOMER UNRESPONSIVE')" />
				<br />
				<input class="btn btn-danger" type="button" value="Customer Not Interested" onclick="update_order_status(<%= order.id %>, 'CANCELLED-CUSTOMER NOT INTERESTED')" />
				<br />
				<input class="btn btn-danger" type="button" value="Cancel Order" onclick="update_order_status(<%= order.id %>, 'CANCELLED')" />
				
				<% elsif order.status == 'REQUIREMENTS CONFIRMED' %>
				<input class="btn btn-primary" type="button" value="Clothes are Confirmed" onclick="update_order_status(<%= order.id %>, 'CLOTHES CONFIRMED')" />
				<br />
				<input class="btn btn-danger" type="button" value="Customer Unresponsive" onclick="update_order_status(<%= order.id %>, 'CANCELLED-CUSTOMER UNRESPONSIVE')" />
				<br />
				<input class="btn btn-danger" type="button" value="Unable to Fulfill" onclick="update_order_status(<%= order.id %>, 'UNABLE TO FULFILL ORDER')" />
				<br />
				<input class="btn btn-danger" type="button" value="Customer below our price range" onclick="update_order_status(<%= order.id %>, 'CANCELLED-CUSTOMER BELOW PRICE RANGE')" />
				<br />
				<input class="btn btn-danger" type="button" value="Cancel Order" onclick="update_order_status(<%= order.id %>, 'CANCELLED')" />
			
				<% elsif order.status == 'CLOTHES CONFIRMED' %>
				<input class="btn btn-primary" type="button" value="Mark Box Ready" onclick="update_order_status(<%= order.id %>, 'BOX READY')" />
				<br />
				<input class="btn btn-danger" type="button" value="Customer Changed their Mind" onclick="update_order_status(<%= order.id %>, 'CANCELLED-CUSTOMER CHANGED THEIR MIND')" />
				<br />
				<input class="btn btn-danger" type="button" value="Cancel Order" onclick="update_order_status(<%= order.id %>, 'CANCELLED')" />
			
				<% elsif order.status == 'BOX READY' %>
				<input class="btn btn-primary" type="button" value="Box Dispatched" onclick="update_order_status(<%= order.id %>, 'DISPATCHED')" />
				<br />
				<input class="btn btn-danger" type="button" value="Cancel Order" onclick="update_order_status(<%= order.id %>, 'CANCELLED')" />
			
				<% elsif order.status == 'DISPATCHED' %>
				<input class="btn btn-primary" type="button" value="Box Delivered" onclick="update_order_status(<%= order.id %>, 'DELIVERED')" />
			
				<% elsif order.status == 'DELIVERED' %>
				<input class="btn btn-primary" type="button" value="Reverse Pickup Done" onclick="update_order_status(<%= order.id %>, 'PICKUP COMPLETED')" />
				<br />
				<input class="btn btn-success" type="button" value="Complete Order" onclick="update_order_status(<%= order.id %>, 'COMPLETED')" />
				
				<% elsif order.status == 'PICKUP COMPLETED' %>
				<input class="btn btn-success" type="button" value="Complete Order" onclick="update_order_status(<%= order.id %>, 'COMPLETED')" />
				<% end %>
			
				<br />
				<br />
				<button type="button" class="btn btn-success" onclick="view_order_status_history(<%= order.id %>)" data-toggle="modal" data-target="#order_status_history_popup">
					View History
				</button></td>
				<td><b>Contact Date Specified by Customer</b>
				<br />
				<br />
				<%= if order.call_date_time then order.call_date_time.to_date.to_s else '' end %>
				<br />
				<br />
				<b>Next Action: (When will you contact the customer next)</b>
				<input class="input-ic form-control next_call_datepicker" id= "next_call_datepicker<%= order.id %>" placeholder="Date" type="text" />
				<br />
				<textarea id="stylist-call-note<%= order.id %>" style="width : 300px;" rows=5 placeholder="Please write why customer rescheduled, what progress was made today etc."></textarea>
				<input class="newcomment btn btn-primary" type="button" value="Update" onclick="add_call_note(<%= order.id %>)" />
				<br />
				<br />
				<button type="button" class="btn btn-success" onclick="view_contact_history(<%= order.id %>)" data-toggle="modal" data-target="#contact_history_popup">
					View Contact History
				</button></td>

				<td><b>Assigned Stylist : </b> <% if current_user.role.name == 'Admin' %>
				<%= select_tag "assigned_stylist"+order.id.to_s, options_for_select(@stylists.collect { |s| [s.name, s.id]}, order.stylist_id), include_blank: true, :onchange => "assignStylist("+order.id.to_s+")" %>
				<% else %>
				<%= order.stylist_name %>
				<% end %>
				<br />
				<br />
				<b>Stylist Comment :</b>				<textarea id="stylist-comment<%= order.id %>" style="width : 300px;" rows=10 placeholder="Please enter in detail Customer's Requirements and Comments here"><%= order.stylist_comments %></textarea>
				<input class="newcomment" type="button" value="Update" onclick="updatecomment(<%= order.id %>)" />
				</td>
			</tr>
			<% end %>

		</tbody>
	</table>
	<%= render 'order_status_history_popup' %>
	<%= render 'contact_history_popup' %>
	<%= render 'style_log_popup'%>

	<%= will_paginate @orders %>

</div>

