<style>
	table, th, td {
		border: 1px solid black;
	}

	th, td {
		padding: 10px;
	}
</style>

<script>
	$(function() {
		//$(".newcomment").on("click", function(event) {

		//});
		if ($("#current_date").val() == '' || $("#current_date").val() == 'All')
		{
			$("#current_date").datepicker().datepicker("setDate", new Date());	
		}
		
	});

	function updatecomment(order_id) {
		index = "#stylist-comment" + order_id;
		comment = String($(index).val());
		event.preventDefault();
		$.ajax({
			type : "POST",
			url : "/admin/updatecomment",
			data : {
				order_id : order_id,
				stylistcomment : comment
			},
			success : function(result) {
				$(index).val(comment);
			},
		});
	}

	function update_order_status(order_id, status) {
		$.ajax({
			type : "POST",
			url : "/admin/update_order_status",
			data : {
				order_id : order_id,
				order_status : status
			},
			success : function(result) {
				index = "#status" + order_id;
				$(index).html(status);
				location.reload();
			},
		});
	}

	function view_order_status_history(order_id) {
		$.ajax({
			type : "POST",
			url : "/admin/get_order_history",
			contentType : "application/json",
			data : JSON.stringify({
				order_id : order_id
			}),

			success : function(history) {
				$("#order_status_history_info").html('');
				$.each(history, function(i, item) {
					var date = new Date(item["created_at"]);
					d = (date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear();
					$("#order_status_history_info").append("<tr><td>" + d + "</td><td>" + item["status"] + "</td></tr>");
				});

			},
		});
	}

</script>

<div style="padding-top:120px" class="container">
	<h2>All Orders</h2>
	<br />
	<br />

	<h3>Filter By : </h3>
	<table class="table">
		<thead>
			<tr>
				<th>Email</th>
				<th>Phone</th>
				<!--<th>Created On</th>
				<th>Updated On</th>-->
				<th>Order Status</th>
				<th>Call Date</th>
			</tr>
		</thead>
		<tbody>
			<form action="/admin/getallorders" method="get">
				<tr>
					<td>
					<input type="text" name="email" value=<%= params[:email] || 'All' %>>
					</input> </td>
					<td>
					<input type="text" name="phone" value=<%= params[:phone] || 'All' %>>
					</input> </td>
					<!--<td><input class="datepicker" name="created_on" value=<%= params[:created_at] || 'All' %>></td>
					<td><input class="datepicker" name="updated_on" value=<%= params[:updated_at] || 'All' %>></td>-->
					<td> <%= select_tag(:status, options_for_select(['All','REQUESTED','BOX READY','DISPATCHED','DELIVERED','PICKUP COMPLETED','COMPLETED', 'CANCELLED'], params[:status])) %> </td>
					<td><input class="datepicker" id="current_date" name="call_date" value=<%= params[:call_date] || 'All' %>></td>
				</tr>
				<tr>
					<td>
					<button type="submit" class="btn btn-danger">
						Submit
					</button></td>
				</tr>
			</form>
		</tbody>
	</table>
	<br /><br />
	<h5 style="color: red;">Number of records : <%= @orders.count %></h5>
	<br /><br />
	<table border="3">
		<thead>
			<tr>
				<th>User</th>
				<th width="200">Created On</th>
				<th width="200">Updated On</th>
				<th width="125">Order Code </th>
				<th>Order Status</th>
				<th width="200">Call Date Time</th>
				<th width="300">Stylist Comments</th>
			</tr>
		</thead>

		<tbody>
			<% @orders.each do |order| %>
			<tr>
				<td> Name : <%= order.name %>
				<br />
				<br />
				Email : <%= order.email %>
				<br />
				<br />
				Phone : <%= order.phonenumber %>
				<br />
				<br />
				Address : <%= order.address %>
				<br />
				Pincode : <%= order.pincode %>
				<br />
				<br />
				<%= link_to "User Profile", "/admin/userprofile/"+(order.userprofile_id).to_s %></td>
				<td><%= order.created_at.to_date.to_s + " " +  order.created_at.to_s(:time) %></td>
				<td><%= order.updated_at.to_date.to_s + " " +  order.updated_at.to_s(:time) %></td>
				<td><%= order.order_code %></td>
				<td>
				<div id = "status<%= order.id %>">
					<%= order.status%>
				</div>
				<br />
				<% if order.status == 'REQUESTED' %>
				<input class="btn btn-primary" type="button" value="Mark Box Ready" onclick="update_order_status(<%= order.id %>, 'BOX READY')" />
				<br />
				<input class="btn btn-danger" type="button" value="Cancel Order" onclick="update_order_status(<%= order.id %>, 'CANCELLED')" />
				<% elsif order.status == 'BOX READY' %>
				<input class="btn btn-primary" type="button" value="Box Dispatched" onclick="update_order_status(<%= order.id %>, 'DISPATCHED')" />
				<br />
				<input class="btn btn-danger" type="button" value="Cancel Order" onclick="update_order_status(<%= order.id %>, 'CANCELLED')" />
				<% elsif order.status == 'DISPATCHED' %>
				<input class="btn btn-primary" type="button" value="Box Delivered" onclick="update_order_status(<%= order.id %>, 'DELIVERED')" />
				<% elsif order.status == 'DELIVERED' %>
				<input class="btn btn-primary" type="button" value="Reverse Pickup Done" onclick="update_order_status(<%= order.id %>, 'PICKUP COMPLETED')" />
				<br />
				<input class="btn btn-success" type="button" value="Complete Order" onclick="update_order_status(<%= order.id %>, 'COMPLETED')" />
				<% elsif order.status == 'PICKUP COMPLETED' %>
				<input class="btn btn-success" type="button" value="Complete Order" onclick="update_order_status(<%= order.id %>, 'COMPLETED')" />
				<% end %>
				<br />
				<br />
				<button type="button" class="btn btn-success" onclick="view_order_status_history(<%= order.id %>)" data-toggle="modal" data-target="#order_status_history_popup">
					View History
				</button></td>
				<td><%= order.call_date_time %></td>
				<td>
				<form>
					<textarea id="stylist-comment<%= order.id %>" style="width : 300px;" rows=10 value=""><%= order.stylist_comments %></textarea>
					<input class="newcomment" type="button" value="Update" onclick="updatecomment(<%= order.id %>)" />
				</form></td>
			</tr>
			<% end %>
			<%= render 'order_status_history_popup' %>
		</tbody>
	</table>

	<%= will_paginate @orders %>

</div>

