<script>
	$(document).ready(function() {
		$('#phone_number_status').select(function() {
			$("#myCarousel").carousel('pause');
		});
	});

	function setUserInfo(user_id) {
		$.ajax({
			type : "GET",
			dataType : 'json',
			url : "/userprofiles/" + user_id + ".json",
			data : {

			},
			success : function(obj) {
				phone = obj.phonenumber;
				pincode = obj.pincode;
				address = obj.address;
				$("#input-user-id").val(user_id);
				$("#input-phone").val(phone);
				$("#input-pincode").val(pincode);
				$("#input-address").val(address);
			},
		});

	}

	function update_phone_status(id, val) {
		$.ajax({
			type : "PATCH",
			dataType : 'json',
			url : "/userprofiles/" + id + ".json",
			data : {
				phone_number_status : val
			},
			success : function(result) {
			},
		});
	}

	function update_gender(id, val) {
		$.ajax({
			type : "PATCH",
			dataType : 'json',
			url : "/userprofiles/" + id + ".json",
			data : {
				gender : val
			},
			success : function(result) {
			},
		});
	}

	function update_latest_status(id, val) {
		$.ajax({
			type : "PATCH",
			dataType : 'json',
			url : "/userprofiles/" + id + ".json",
			data : {
				latest_status : val
			},
			success : function(result) {
			},
		});
	}

	function updatestylistcomment(user_id) {
		index = "#stylist-comment" + user_id;
		comment = String($(index).val());
		event.preventDefault();
		$.ajax({
			type : "POST",
			url : "/admin/updateuserstylistcomment",
			data : {
				user_id : user_id,
				stylistcomment : comment
			},
			success : function(result) {
				$(index).val(comment);
			},
		});
	}

	function getStyleData(id, name) {
		$.ajax({
			type : "GET",
			url : "/userprofiles/" + id + ".json",
			data : {
			},
			success : function(result) {
				//val = result.data;
				val = JSON.parse(result.data);
				//alert(val["personal"]["age"]);
				alert(val["sociallinks"]["instagram"]);
				setStyleProfileValues(val);

				//style_profile = JSON.stringify(JSON.parse(val));
				//$("#styleLogPopupStyleInfo").html(style_profile);
				$("#styleLogPopupName").html(name);
			},
		});
	}

	function setStyleProfileValues(val) {
		if(typeof val["personal"] != 'undefined')
		{
			$("#age").html(val["personal"]["age"]);
			$("#height_feet").html(val["personal"]["height"]["feet"]);
			$("#height_inches").html(val["personal"]["height"]["inches"]);
			$("#weight").html(val["personal"]["weight"]);
			$("#bra_size").html(val["personal"]["bra"]["size"]);
			$("#bra_cup").html(val["personal"]["bra"]["cup"]);
			
			if(typeof val["personal"]["size"] != 'undefined')
			{
				$("#size_top").html(val["personal"]["size"]["top"]);
			}
			if(typeof val["personal"]["top"] != 'undefined')
			{
				$("#top_brand").html(val["personal"]["top"]["brand"]);
			}
			
			$("#personal_waist").html(val["personal"]["waist"]);
			$("#hip").html(val["personal"]["hip"]);
			$("#shoulders").html(val["personal"]["shoulders"]);	
		}
		
		$("#styles_1").html(val["styles"]["1"]);
		$("#styles_2").html(val["styles"]["2"]);
		$("#styles_3").html(val["styles"]["3"]);
		$("#styles_4").html(val["styles"]["4"]);
		$("#styles_5").html(val["styles"]["5"]);
		$("#accessory").html(val["lifestyle"]["accessory"]);
		$("#jewellery").html(val["lifestyle"]["jewellery"]);
		$("#lifestyle_accmax").html(val["lifestyle"]["accmax"]);
		$("#lifestyle_accmin").html(val["lifestyle"]["accmin"]);
		$('#pinterest').html(val["sociallinks"]["pinterest"]);
		$('#facebook').html(val["sociallinks"]["facebook"]);
		$('#instagram').html(val["sociallinks"]["instagram"]);
	}
</script>

<div class="container top-space stylist">
	<div class="row top-menu">
		<div class="col-sm-2 active">
			My Sessions
		</div>
		<!-- <div class="col-sm-2">Users</div> -->
	</div>
	<h3>Filter By : </h3>
	<table class="table">
		<thead>
			<tr>
				<th>Email</th>
				<th>Phone</th>
				<th>Phone Status</th>
				<th>Gender</th>
				<th>Latest Status</th>
			</tr>
		</thead>
		<tbody>
			<form action="/admin/index" method="get">
				<tr>
					<td>
					<input type="text" name="email" value=<%= params[:email] || 'All' %>>
					</input> </td>
					<td>
					<input type="text" name="phone" value=<%= params[:phone] || 'All' %>>
					</input> </td>
					<td> <%= select_tag(:phone_number_status, options_for_select(['All', 'Unverified','Missing','Wrong Number','Verified','Not Picking Up'], params[:phone_number_status])) %> </td>
					<td> <%= select_tag(:gender, options_for_select(['All', 'Male','Female','NA'], params[:gender])) %> </td>
					<td> <%= select_tag(:latest_status, options_for_select(['All','Yet To Contact','Call and Reject','Unserviceable User','Will Fill the Form after Call','Need Styling - NOT Delivery','Below Our Price Range', 'Just Checking Out', 'Wants a Very Specific Dress', 'Serviceable User'], params[:latest_status])) %> </td>
				</tr>
				<tr>
					<td>
					<button type="submit" class="btn btn-danger">
						Submit
					</button></td>
				</tr>
			</form>
		</tbody>
	</table>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Personal Details</th>
				<th>Statuses</th>
				<th>Registered On</th>
				<th>Data</th>
				<th>Stylist Comment</th>
			</tr>
		</thead>
		<h5 style="color: red;">Number of records : <%= @allusers.count %></h5>
		<tbody>
			<% @allusers.each do |us| %>
			<tr>
				<td> <%= us.name %>
				<br />
				<%= us.email %>
				<br />
				<%= us.phonenumber %>
				<br />
				<%= us.city %>
				<br />
				<button type="button" id="generateOrder" onclick="setUserInfo(<%= us.id %>)" class="btn btn-info btn-lg" data-toggle="modal" data-target="#generateOrderPopup">
					New Order
				</button></td>
				<td> Phone Status :
				<br />
				<%= select_tag(:phone_number_status, options_for_select(['Unverified','Missing','Wrong Number','Verified','Not Picking Up'], us.phone_number_status), :onchange => "update_phone_status(" + us.id.to_s + " ,this.value)") %>
				<br />
				<br />
				Gender :
				<br />
				<%= select_tag(:gender, options_for_select(['NA','Female','Male'], us.gender), :onchange => "update_gender(" + us.id.to_s + " ,this.value)") %>
				<br />
				<br />
				Latest Status :
				<br />
				<%= select_tag(:latest_status, options_for_select(['Yet To Contact','Call and Reject','Unserviceable User','Will Fill the Form after Call','Need Styling - NOT Delivery','Below Our Price Range', 'Just Checking Out', 'Wants a Very Specific Dress', 'Serviceable User'], us.latest_status), :onchange => "update_latest_status(" + us.id.to_s + " ,this.value)") %> </td>
				<td> <%= us.created_at.to_date.to_s + " " +  us.created_at.to_s(:time) %> </td>
				<td>
				<button type="button" id="getStyleData" onclick="getStyleData(<%= us.id %>, '<%= us.name %>')" class="btn btn-info btn-lg" data-toggle="modal" data-target="#styleLogPopup">
					Profile
				</button></td>
				<td>
				<form>
					<textarea id="stylist-comment<%= us.id %>" style="width : 300px;" rows=10 value=""><%= us.stylist_comment %></textarea>
					<input class="newcomment" type="button" value="Update" onclick="updatestylistcomment(<%= us.id %>)" />
				</form></td>
			</tr>
			<% end %>
			<%= render 'style_log_popup'%>
			<%= render 'generate_order_popup' %>
		</tbody>
	</table>

	<%= will_paginate @allusers %>
</div>