<div class="container top-space stylist">
	<div class="row top-menu">
		<div class="col-sm-2 active">My Sessions</div>
		<!-- <div class="col-sm-2">Users</div> -->
	</div>
	<table class="table table-striped">
        <thead>
            <tr>
            	<th>Name</th>
            	<th>Registered On</th>
                <th>Email</th>
                <th>City</th>
                <th>Phone number</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            <% @allusers.each do |us| %>
			<tr>
				<td><%= us.name %></td>
				<td><%= us.created_at.to_date.to_s + " " +  us.created_at.to_s(:time) %></td>
				<td><%= us.email %></td>
				<td><%= us.city %></td>
				<td><%= us.phonenumber %></td>
				<td><%= link_to "Profile", "/admin/userprofile/"+us.userprofile_id.to_s %></td>
			</tr>
			<% end %>
        </tbody>
    </table>
</div>