<div class="container top-space stylist">
	<div class="row top-menu">
		<div class="col-sm-2 active">
			My Sessions
		</div>
		<!-- <div class="col-sm-2">Users</div> -->
	</div>
	<h3>Filter By : </h3>
	<form action="/admin/index" method="get">
		<table class="table">
			<thead>
				<tr>
					<th>Email</th>
					<th>Phone</th>
					<th>Phone Status</th>
					<th>Gender</th>
					<th>Latest Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
					<input type="text" name="email" value=<%= params[:email] || 'All' %>>
					</input> </td>
					<td>
					<input type="text" name="phone" value=<%= params[:phone] || 'All' %>>
					</input> </td>
					<td> <%= select_tag(:phone_number_status, options_for_select(['All', 'Unverified','Missing','Wrong Number','Verified','Not Picking Up'], params[:phone_number_status])) %> </td>
					<td> <%= select_tag(:gender, options_for_select(['All', 'Male','Female','NA'], params[:gender])) %> </td>
					<td> <%= select_tag(:latest_status, options_for_select(['All','Yet To Contact','Call and Reject','Unserviceable User','Will Fill the Form after Call','Need Styling - NOT Delivery','Below Our Price Range', 'Just Checking Out', 'Wants a Very Specific Dress', 'Serviceable User'], params[:latest_status])) %> </td>
				</tr>
				<tr>
					<td>
					<button type="submit" class="btn btn-danger">
						Submit
					</button></td>
				</tr>
			</tbody>
		</table>
	</form>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Personal Details</th>
				<th>Statuses</th>
				<th>Registered On</th>
				<th>Data</th>
				<th>Stylist Comment</th>
			</tr>
		</thead>
		<h5 style="color: red;">Number of records : <%= @allusers.count %></h5>
		<tbody>
			<% @allusers.each do |us| %>
			<tr>
				<td> <%= us.name %>
				<br />
				<%= us.email %>
				<br />
				<%= us.phonenumber %>
				<br />
				<%= us.city %>
				<br />
				<button type="button" id="generateOrder" onclick="setUserInfo(<%= us.id %>)" class="btn btn-info btn-lg" data-toggle="modal" data-target="#generateOrderPopup">
					New Order
				</button></td>
				<td> Phone Status :
				<br />
				<%= select_tag(:phone_number_status, options_for_select(['Unverified','Missing','Wrong Number','Verified','Not Picking Up'], us.phone_number_status), :onchange => "update_phone_status(" + us.id.to_s + " ,this.value)") %>
				<br />
				<br />
				Gender :
				<br />
				<%= select_tag(:gender, options_for_select(['NA','Female','Male'], us.gender), :onchange => "update_gender(" + us.id.to_s + " ,this.value)") %>
				<br />
				<br />
				Latest Status :
				<br />
				<%= select_tag(:latest_status, options_for_select(['Yet To Contact','Call and Reject','Unserviceable User','Will Fill the Form after Call','Need Styling - NOT Delivery','Below Our Price Range', 'Just Checking Out', 'Wants a Very Specific Dress', 'Serviceable User'], us.latest_status), :onchange => "update_latest_status(" + us.id.to_s + " ,this.value)") %> </td>
				<td> <%= us.created_at.to_date.to_s + " " +  us.created_at.to_s(:time) %> </td>
				<td>
				<button type="button" id="getStyleData" onclick="getStyleData(<%= us.id %>, '<%= us.name %>')" class="btn btn-info btn-lg" data-toggle="modal" data-target="#styleLogPopup">
					Profile
				</button></td>
				<td>
					<!-- Disabled the following textarea. Orders page should be used exclusively. 
						Stylist comment section in orders page should be used, this one is now redundant.-->				
					<textarea id="stylist-comment<%= us.id %>" style="width : 300px;" rows=10 value="" disabled><%= us.stylist_comment %></textarea>
					<!--Disabled for same reason as above. Stylist comment section in orders page should be used, this one is now redundant.
						<input class="newcomment" type="button" value="Update" onclick="updatestylistcomment(<%= us.id %>)" />-->
				</td>
			</tr>
			<% end %>
			<%= render 'style_log_popup'%>
			<%= render 'generate_order_popup' %>
		</tbody>
	</table>

	<%= will_paginate @allusers %>
</div>