<script>
	function updatestylistcomment(user_id) {
		index = "#stylist-comment" + user_id;
		comment = String($(index).val());
		event.preventDefault();
		$.ajax({
			type : "POST",
			url : "/admin/updateuserstylistcomment",
			data : {
				user_id : user_id,
				stylistcomment : comment
			},
			success : function(result) {
				$(index).val(comment);
			},
		});
	}
	
	function getStyleData (id, name) {
		$.ajax({
			type : "GET",
			url : "/userprofiles/"+id+".json",
			data : {
			},
			success : function(result) {
				val = result.data;
				
				style_profile = JSON.stringify(JSON.parse(val));
				$("#styleLogPopupStyleInfo").html(style_profile);
				$("#styleLogPopupName").html(name);
			},
		});  
	}
</script>

<div class="container top-space stylist">
	<div class="row top-menu">
		<div class="col-sm-2 active">
			My Sessions
		</div>
		<!-- <div class="col-sm-2">Users</div> -->
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Personal Details</th>
				<th>Registered On</th>
				<th>Data</th>
				<th>Stylist Comment</th>
			</tr>
		</thead>
		<tbody>
			<% @allusers.each do |us| %>
			<tr>
				<td>
					<%= us.name %>
					<br />
					<%= us.email %>
					<br />
					<%= us.phonenumber %>
					<br />
					<%= us.city %>
				</td>
				<td>
					<%= us.created_at.to_date.to_s + " " +  us.created_at.to_s(:time) %>
				</td>
				<td>
					<button type="button" id="getStyleData" onclick="getStyleData(<%= us.id %>, '<%= us.name %>')" class="btn btn-info btn-lg" data-toggle="modal" data-target="#styleLogPopup">Profile</button>
				</td>
				<td>
				<form>
					<textarea id="stylist-comment<%= us.id %>" style="width : 300px;" rows=10 value=""><%= us.stylist_comment %></textarea>
					<input class="newcomment" type="button" value="Update" onclick="updatestylistcomment(<%= us.id %>)" />
				</form></td>
			</tr>
			<% end %>
			<%= render 'style_log_popup'%>
		</tbody>
	</table>

	<%= will_paginate @allusers %>
</div>