<div style="padding-top:120px" class="container">
	<h2 style="text-align: left; padding-left: 5%; color: #dc0060">Welcome to Zuplr's style log!</h2><br>
	<form class="style-log" action="/users/save-data" method="POST">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
        <h3> Hi <input class="input" placeholder="Guest" value="<%= @user.name %>" style="text-transform: uppercase; font-size: 24px" type="text"/>!</h3> <br>
		<p>
		We're excited to start styling for you. Our Style Profile helps us to understand you and your style better. We're ready to start asking questions, if you're ready to start answering them.</p>
		<p>Don't forget—the more we know about you, the better we can style for you!<br>
		We currently carry sizes 0–14 (XS–XL). We are actively working to add more range of sizes so that we can serve more women well. 
		</p><br>
		<h4>Lets get started</h4>
		<h4 style="color:#dc0060">Section A - Your body statistics and Fittings </h4>
		<ul>
			<li>I am 
				<input class="input-sm" name="user[personal][age]" value="<%= @userdata['personal']['age'] if defined?(@userdata['personal']['age']) %>" placeholder="25" type="text"/> years old, and 
				<input class="input-sm" name="user[personal][height][feet]" value="<%= @userdata['personal']['height']['feet'] if defined?(@userdata['personal']['height']['feet']) %>" placeholder="5" type="text"/>feet & 
				<input class="input-sm" name="user[personal][height][inches]" value="<%= @userdata['personal']['height']['inches'] if defined?(@userdata['personal']['height']['inches']) %>"  placeholder="10" type="text"/> inches tall. Last time I hopped on a weighing machine, it displayed 
				<input class="input-sm" name="user[personal][weight]" value="<%= @userdata['personal']['weight'] if defined?(@userdata['personal']['weight']) %>"  placeholder="58" type="text"/> kg. </li>
			<li>Bras that fit me best are of size 
				<input class="input-sm" name="user[personal][bra][size]" value="<%= @userdata['personal']['bra']['size'] if defined?(@userdata['personal']['bra']['size']) %>" type="text"/>, cup 
				<input class="input-sm" type="text" name="user[personal][bra][cup]" value="<%= @userdata['personal']['bra']['cup'] if defined?(@userdata['personal']['bra']['cup']) %>"  />, and generally of
				<select class="" name="user[personal][bra][gensize]" type="text">
					<option <% concat "selected" if (defined?(@userdata['personal']['bra']['gensize']) && @userdata['personal']['bra']['gensize'] == 'XS') %>>XS</option>
					<option <% concat "selected" if (defined?(@userdata['personal']['bra']['gensize']) && @userdata['personal']['bra']['gensize'] == 'S') %>>S</option>
					<option <% concat "selected" if (defined?(@userdata['personal']['bra']['gensize']) && @userdata['personal']['bra']['gensize'] == 'M') %>>M</option>
					<option <% concat "selected" if (defined?(@userdata['personal']['bra']['gensize']) && @userdata['personal']['bra']['gensize'] == 'L') %>>L</option>
					<option <% concat "selected" if (defined?(@userdata['personal']['bra']['gensize']) && @userdata['personal']['bra']['gensize'] == 'XL') %>>XL</option>
			</select>size fits me best.</li>
			<li>The size I normally wear for blouses/tops and shirts is
				<select class="" name="user[personal][size][top]" type="text">
				<option <% concat "selected" if (defined?(@userdata['personal']['size']['top']) && @userdata['personal']['size']['top'] == 'XS') %>>XS</option>
				<option <% concat "selected" if (defined?(@userdata['personal']['size']['top']) && @userdata['personal']['size']['top'] == 'S') %>>S</option>
				<option <% concat "selected" if (defined?(@userdata['personal']['size']['top']) && @userdata['personal']['size']['top'] == 'M') %>>M</option>
				<option <% concat "selected" if (defined?(@userdata['personal']['size']['top']) && @userdata['personal']['size']['top'] == 'L') %>>L</option>
				<option <% concat "selected" if (defined?(@userdata['personal']['size']['top']) && @userdata['personal']['size']['top'] == 'XL') %>>XL</option>
			</select>.</li>
			<li>I feel comfortable on top half of my body fit as 
				<select class="" name="user[personal][size][topfit]" type="text">
				<option <% concat "selected" if (defined?(@userdata['personal']['size']['topfit']) && @userdata['personal']['size']['topfit'] == 'Loose') %>>Loose</option>
				<option <% concat "selected" if (defined?(@userdata['personal']['size']['topfit']) && @userdata['personal']['size']['topfit'] == 'Tight') %>>Tight</option>
				<option <% concat "selected" if (defined?(@userdata['personal']['size']['topfit']) && @userdata['personal']['size']['topfit'] == 'Slightly loose') %>>Slightly loose</option>
			</select> and I prefer 
				<select class="" type="text">
				<option>Skin Tight</option>
				<option>Slightly loose</option>
				<option>Perfect fit</option>
			</select> pants,
				<input class="input-sm" type="text"/> jeans and skirts of
			<select class="" type="text">
				<option>XS</option>
				<option>S</option>
				<option>M</option>
				<option>L</option>
				<option>XL</option>
			</select>size  and I love it on 
			<select class="" type="text">
				<option>High waist</option>
				<option>Mid waist</option>
				<option>Low waist</option>
			</select> with a  
			<select class="" type="text">
				<option>Pencil cut</option>
				<option>Plain straight</option>
				<option>Bootcut</option>
				<option>Comfort</option>
			</select>style . </li>
			<li>I prefer jeans of <select class="" type="text">
				<option>Ankle (28" - 29")</option>
				<option>Regular (30" - 32")</option>
				<option>Long (33" - 35")</option>
			</select> 
			length with <select class="" type="text">
				<option>High</option>
				<option>Mid</option>
				<option>Low</option>
			</select>   
			rise and <select class="" type="text">
				<option>Skinny</option>
				<option>Straight</option>
				<option>Bootcut</option>
				<option>Wide</option>
			</select>  
			Style </li>
			<li>I feel the best fitting clothes for bottom half of my body are <select class="" type="text">
				<option>Tight fitted</option>
				<option>Loose</option>
				<option>Perfect fit</option>
			</select> type, and yeah I<select class="" type="text">
				<option>do</option>
				<option>do not</option>
			</select> consider my bottom half curvy.</li>
			<li>When I take a look in the mirror, I find that, my shoulders are<select class="" type="text">
				<option>Short</option>
				<option>Average</option>
				<option>Long</option>
			</select> and arms are  <select class="" type="text">
				<option>Narrow</option>
				<option>Average</option>
				<option>Broad</option>
			</select>. My torso is kinda <select class="" type="text">
				<option>Short</option>
				<option>Average</option>
				<option>Long</option>
			</select> and hips are <select class="" type="text">
				<option>Narrow</option>
				<option>Average</option>
				<option>Broad</option>
			</select>. Legs???, Well they are <select class="" type="text">
				<option>Short</option>
				<option>Average</option>
				<option>Long</option>
			</select>.
			</li>
		</ul><br>
		<h4 style="color:#dc0060">Section B - Tell us what you like</h4>
		<ul class="looks">
			<li>
				<div>
					<div class="pull-left" style="width: 30%">What do you think of below styles?</div>
					<div class="pull-left">
						<select class="" name="user[styles][1]" type="text">
							<option <% concat "selected" if (defined?(@userdata['styles']['1']) && @userdata['styles']['1'] == 'Loved them') %>>Loved them</option>
							<option <% concat "selected" if (defined?(@userdata['styles']['1']) && @userdata['styles']['1'] == 'Like them') %>>Like them </option>
							<option <% concat "selected" if (defined?(@userdata['styles']['1']) && @userdata['styles']['1'] == 'Not my style') %>>Not my style</option>
						</select>
					</div>
					<img style="" src="look1.png">
					<div style="clear"></div>	
				</div>
			</li>
			<li>
				<div>
					<div class="pull-left" style="width: 30%">What do you think of below styles?</div>
					<div class="pull-left">
						<select class="" name="user[styles][2]" type="text">
							<option <% concat "selected" if (defined?(@userdata['styles']['2']) && @userdata['styles']['2'] == 'Loved them') %>>Loved them</option>
							<option <% concat "selected" if (defined?(@userdata['styles']['2']) && @userdata['styles']['2'] == 'Like them') %>>Like them </option>
							<option <% concat "selected" if (defined?(@userdata['styles']['2']) && @userdata['styles']['2'] == 'Not my style') %>>Not my style</option>
						</select>
					</div>
					<img style="" src="look2.png">
					<div style="clear"></div>	
				</div>
			</li><li>
				<div>
					<div class="pull-left" style="width: 30%">What do you think of below styles?</div>
					<div class="pull-left">
						<select class="" name="user[styles][3]" type="text">
							<option <% concat "selected" if (defined?(@userdata['styles']['3']) && @userdata['styles']['3'] == 'Loved them') %>>Loved them</option>
							<option <% concat "selected" if (defined?(@userdata['styles']['3']) && @userdata['styles']['3'] == 'Like them') %>>Like them </option>
							<option <% concat "selected" if (defined?(@userdata['styles']['3']) && @userdata['styles']['3'] == 'Not my style') %>>Not my style</option>
						</select>
					</div>
					<img style="" src="look3.png">
					<div style="clear"></div>	
				</div>
			</li><li>
				<div>
					<div class="pull-left" style="width: 30%">What do you think of below styles?</div>
					<div class="pull-left">
						<select class="" name="user[styles][4]" type="text">
							<option <% concat "selected" if (defined?(@userdata['styles']['4']) && @userdata['styles']['4'] == 'Loved them') %>>Loved them</option>
							<option <% concat "selected" if (defined?(@userdata['styles']['4']) && @userdata['styles']['4'] == 'Like them') %>>Like them </option>
							<option <% concat "selected" if (defined?(@userdata['styles']['4']) && @userdata['styles']['4'] == 'Not my style') %>>Not my style</option>
						</select>
					</div>
					<img style="" src="look4.png">
					<div style="clear"></div>	
				</div>
			</li>
			<li>
				<div>
					<div class="pull-left" style="width: 30%">What do you think of below styles?</div>
					<div class="pull-left">
						<select class="" name="user[styles][5]" type="text">
							<option <% concat "selected" if (defined?(@userdata['styles']['5']) && @userdata['styles']['5'] == 'Loved them') %>>Loved them</option>
							<option <% concat "selected" if (defined?(@userdata['styles']['5']) && @userdata['styles']['5'] == 'Like them') %>>Like them </option>
							<option <% concat "selected" if (defined?(@userdata['styles']['5']) && @userdata['styles']['5'] == 'Not my style') %>>Not my style</option>
						</select>
					</div>
					<img style="" src="look5.png">
					<div style="clear"></div>	
				</div>
			</li>
			<li>
				<div>
					<div class="pull-left" style="width: 30%">What do you think of below styles?</div>
					<div class="pull-left">
						<select class="" name="user[styles][6]" type="text">
							<option <% concat "selected" if (defined?(@userdata['styles']['6']) && @userdata['styles']['6'] == 'Loved them') %>>Loved them</option>
							<option <% concat "selected" if (defined?(@userdata['styles']['6']) && @userdata['styles']['6'] == 'Like them') %>>Like them </option>
							<option <% concat "selected" if (defined?(@userdata['styles']['6']) && @userdata['styles']['6'] == 'Not my style') %>>Not my style</option>
						</select>
					</div>
					<img style="" src="look6.png">
					<div style="clear"></div>	
				</div>
			</li>
			
		</ul><br>
			<p>
			<h4 style="color:#dc0060">Final Thoughts?</h4>
			There must be things about you that can’t be captured in above questions, feel free to share here. We're all ears!<br>
			<textarea class="form-control" name="user[remarks]" style="width: 80%;min-height: 120px;" placeholder="Any personalization message you would want to your stylist to know...For eg. i will be travelling in a month time and i would want more a cotton fabric cloth with a denim jeans in light blue color"> <%= @userdata['remarks'] if defined?(@userdata['remarks'])%> </textarea>
			</p>
			<button class="btn btn-z btn-z1 transform-up" style="margin-top: 30px;" >Save my log</button>
	</form>
</div>