<script>
	$(document).ready(function() {
		$('#input-email').focus(function() {
			$("#myCarousel").carousel('pause');
		});
	}); 
</script>

<section id="home">
	<%= render 'common/navigation' %>
	<div class="fill">
		<!-- <div class="slider-overlay"></div> -->
		<%= render 'slider' %>
		<%= render 'main_form' %>
	</div>
</section>
<br /><br />
<section id="how">
	<%= render 'how' %>
</section>
<hr />
<section>
	<%= render 'reviews' %>
</section>

<section id="social">
	<%= render 'social' %>
</section>

<!-- Trigger the modal with a button -->
<%= render 'login_popup' %>
<%= render 'signup_popup' %>