<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @userinfo.user_id %>
</p>

<p>
  <strong>Data:</strong>
  <%= @userinfo.data %>
</p>

<%= link_to 'Edit', edit_userinfo_path(@userinfo) %> |
<%= link_to 'Back', userinfos_path %>
