<div class="container">
  <div class="row invite-row padding-space">
    <div class="col-sm-6">
      <h2>
       <%= t "devise.invitations.new.header" %>
     </h2>

     <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
     <%= devise_error_messages! %>
     <div>
      <% resource.class.invite_key_fields.each do |field| -%>
      <%= f.email_field field, name: "user[email][]",class: "form-control", placeholder: "Enter your friend's email address", required: true %></p>

      <div id="createNewTextbox" >
      </div>
      <a id="btnLinkCreate" href="#" onClick="create_new();">
        <i class="fa fa-plus"></i> <span>INVITE MORE</span>
      </a>
      <% end -%>
    </div>
    <p>
     <%= f.submit t("devise.invitations.new.submit_button"), class: "btn btn-sm btn-z1 send-invite" %>
   </p>
   <% end %>
 </div>
</div>
</div>

<script>
  function create_new() { $('#createNewTextbox').append('<input type="email" id="email" name="user[email][]" class="form-control"placeholder = "Enter your friend\'s email address " required/>'); }
</script>
