<p><%= t("devise.mailer.invitation_instructions.hello", email: @resource.email) %></p>

<% @invited_by = User.find(@resource.invited_by_id) %>
<p><%= @invited_by.email %> has invited you to join <%= link_to "Zuplr", "http://zuplr.com" %> </p>

<p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></p>


<p><%= t("devise.mailer.invitation_instructions.ignore").html_safe %></p>
