<div id="navbar" class="collapse navbar-collapse pull-right">
  <ul class="nav navbar-nav">
    <!-- <li class="active"><a href="#">Home</a></li> -->
    <% if user_signed_in? %>
        <li><a class = "shadow-stuff" href="#">Hi <%= current_user.email %> !</a></li>
        <li><%= link_to "Account", edit_user_registration_path %></li>
        <% if (current_user.role.name == 'Admin') %>
            <li><a class = "shadow-stuff" href="/admin/dashboard">Dashboard</a></li> 
        <% elsif (current_user.role.name == 'Stylist') %>
            <li><a class = "shadow-stuff" href="/stylist/dashboard">Dashboard</a></li>
        <% else %>
            <li><%= link_to "Style Profile", "/style-log", class: "shadow-stuff" %></li>
            <!--<li><%= link_to "Orders", orders_path %></li>-->
            <li><%= link_to "Invite Friends", new_user_invitation_path, class: "shadow-stuff" %></li>
        <% end %>
        <!-- <li><%= link_to "Chat", conversations_path(sender_id: current_user.id, receiver_id: 1), method: :post %></li> -->
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete,  class: "shadow-stuff" %></li>
    <% else %>
        <li ><a class="btn btn-default btn-zr-1 shadow-stuff" href="/login">Login</a></li>            
        <li ><a class="btn btn-default btn-zr-1 shadow-stuff" href="/register">Register</a></li>            
    <% end %>
  </ul>
</div><!--/.nav-collapse -->